@mixin img-position {
    background: {
        position: center center;
        repeat: no-repeat;
        size: cover;
    }
}
@mixin heading-style {
    font: {
        family: $heading-font;
        size: 35px;
    }
    text-transform: uppercase;
    letter-spacing: 3px;
}
@mixin project-poster($bgd) {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include img-position();
    background: $bgd;
}
@mixin flex-position {
    display: flex;
    justify-content: space-between;
}