*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Set general border sizing */
}

ol, ul {
  list-style: none;
}

li {
  display: inline;
  list-style-type: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: Alata;
  src: url(fonts/Alata/Alata-Regular.ttf);
}

@font-face {
  font-family: Josefin_Sans;
  src: url(fonts/Josefin_Sans/static/JosefinSans-Light.ttf);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  position: relative;
}

.wrapper header {
  width: 100%;
  position: absolute;
  top: 0;
}

.frame {
  width: 80%;
  margin: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4%;
}

.logo {
  width: 192px;
  height: 32px;
  background: url(images/logo.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 111;
}

.hamburger {
  display: none;
}

.close-icon {
  display: none;
}

nav {
  padding: 0 5%;
}

nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav a {
  color: white;
  font-family: Alata;
  display: block;
  height: 40px;
  position: relative;
}

nav a::after {
  content: '';
  width: 20px;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 30%;
  display: none;
}

nav a:hover {
  cursor: pointer;
}

nav a:hover::after {
  display: block;
}

nav li {
  padding-right: 13%;
}

section {
  width: 100%;
}

/* Section poster */
.poster {
  width: 100%;
  height: 650px;
  background: url(images/desktop/image-hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.poster .poster-text {
  color: white;
  border: 3px solid white;
  width: 46%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-transform: uppercase;
  font-family: Josefin_Sans;
  font-size: 60px;
  padding: 3%;
  margin: 6% 0 0 10%;
}

/* Section about */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.about .photo {
  margin: 15% 0;
  width: 60%;
  height: 500px;
  background: url(images/desktop/image-interactive.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-text {
  width: 52%;
  margin-bottom: 15%;
  height: 35%;
  position: absolute;
  right: 0;
  bottom: -1%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about-text h3 {
  font-family: Josefin_Sans;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 5%;
  width: 80%;
}

.about-text p {
  font-family: Josefin_Sans;
  font-size: 16px;
  font-weight: 700;
  color: #8c8c8c;
  width: 80%;
  padding-bottom: 2%;
  line-height: 20px;
}

/* Section projects */
.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5%;
}

.heading > h3 {
  font-family: Josefin_Sans;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.heading > button {
  text-transform: uppercase;
  font-family: Alata;
  font-size: 18px;
  letter-spacing: 5px;
  width: 15%;
  height: 40px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}

.heading > button:hover {
  background-color: black;
  color: white;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 20%;
}

.projects > div {
  height: 450px;
  width: 256px;
  color: white;
  margin-bottom: 3.5%;
  position: relative;
}

.projects > div:hover {
  cursor: pointer;
  color: black;
}

.projects > div:hover::before {
  opacity: 0.3;
}

.projects > div > h3 {
  font-family: Josefin_Sans;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 3px;
  letter-spacing: 0;
  font-weight: 300;
  width: 63%;
  position: absolute;
  bottom: 6%;
  left: 15%;
}

.projects .img1::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url(images/desktop/image-deep-earth.jpg);
}

.projects .img2::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url(images/desktop/image-night-arcade.jpg);
}

.projects .img3::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url(images/desktop/image-soccer-team.jpg);
}

.projects .img4::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url(images/desktop/image-grid.jpg);
}

.projects .img5::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url(images/desktop/image-from-above.jpg);
}

.projects .img6::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url(images/desktop/image-pocket-borealis.jpg);
}

.projects .img7::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url(images/desktop/image-curiosity.jpg);
}

.projects .img8::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url(images/desktop/image-fisheye.jpg);
}

footer {
  max-width: 1440px;
  position: relative;
  margin: auto;
  background-color: black;
}

footer p {
  color: dimgray;
  font-family: Alata;
  text-align: center;
  padding-bottom: 2%;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2% 0;
}

.social-media > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 13%;
}

.social-media > ul > li {
  display: block;
  width: 24px;
  height: 35px;
  position: relative;
}

.social-media > ul > li::after {
  content: '';
  width: 24px;
  height: 2px;
  position: absolute;
  bottom: 0;
  background-color: white;
  display: none;
}

.social-media > ul > li:hover {
  cursor: pointer;
}

.social-media > ul > li:hover::after {
  display: block;
}

.social-media .icon1 {
  background: url(images/icon-facebook.svg) no-repeat;
}

.social-media .icon2 {
  background: url(images/icon-twitter.svg) no-repeat;
}

.social-media .icon3 {
  background: url(images/icon-pinterest.svg) no-repeat;
}

.social-media .icon4 {
  background: url(images/icon-instagram.svg) no-repeat;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
}

.nav a {
  color: white;
  font-family: Alata;
  display: block;
  height: 40px;
  position: relative;
}

.nav a::after {
  content: '';
  width: 20px;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 30%;
  display: none;
}

.nav a:hover {
  cursor: pointer;
}

.nav a:hover::after {
  display: block;
}

.nav p {
  color: dimgray;
  font-family: Alata;
}

@media only screen and (max-width: 1024px) {
  .projects {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .nav > ul {
    width: 40%;
  }
  .social-media > ul {
    width: 18%;
  }
}

@media only screen and (max-width: 768px) {
  .projects {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  nav ul li {
    padding-right: 8%;
  }
  nav ul a {
    font-size: 15px;
  }
  .poster .poster-text {
    font-size: 40px;
  }
  .about .photo {
    height: 300px;
  }
  .about .about-text h3 {
    font-size: 25px;
  }
  .about .about-text p {
    font-size: 10px;
    line-height: unset;
  }
  .heading h3 {
    font-size: 25px;
  }
  .heading button {
    font-size: 15px;
    width: 16%;
    height: 35px;
  }
  .projects div {
    height: 350px;
    width: 200px;
  }
  .projects div > h3 {
    font-size: 25px;
  }
  .social-media ul {
    margin-top: 1%;
  }
  .social-media ul li {
    width: 20px;
    height: 30px;
  }
  .social-media ul li::after {
    width: 15px;
  }
  .social-media ul .icon1, .social-media ul .icon2, .social-media ul .icon3, .social-media ul .icon4 {
    background-size: 90%;
  }
  .nav ul {
    width: 40%;
  }
  .nav ul a {
    font-size: 13px;
    height: 30px;
  }
  .nav ul a::after {
    width: 17px;
  }
  .nav p {
    font-size: 13px;
  }
  footer > p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 425px) {
  nav {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav ul a {
    text-transform: uppercase;
    font-family: Josefin_Sans;
    font-size: 17px;
  }
  nav ul a::after {
    content: none;
  }
  .close-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(images/icon-close.svg) no-repeat;
    position: absolute;
    top: 4%;
    right: 5%;
    cursor: pointer;
  }
  .frame {
    width: 90%;
  }
  .hamburger {
    display: block;
    height: 16px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .hamburger a {
    display: block;
    width: 24px;
    height: 16px;
    background: url(images/icon-hamburger.svg);
    cursor: pointer;
  }
  .header {
    margin-top: 6%;
  }
  .header nav:target {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /*
.logo { background-position: left;}*/
  .poster {
    background: url(images/mobile/image-hero.jpg) no-repeat;
    height: 100vh;
    background-size: cover;
  }
  .poster .poster-text {
    width: 90%;
    margin: auto;
    padding: 4%;
    border-width: 2px;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .about .photo {
    width: 100%;
    background: url(images/mobile/image-interactive.jpg) no-repeat;
    background-size: 100%;
    margin-bottom: 0;
    height: 280px;
  }
  .about .about-text {
    width: 100%;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about-text h3 {
    width: 80%;
    text-align: center;
    font-weight: lighter;
  }
  .about .about-text p {
    width: 70%;
    font-size: 14px;
    text-align: center;
    line-height: 17px;
    color: dimgray;
  }
  .project-section {
    width: 100%;
    position: relative;
    padding-bottom: 10%;
  }
  .heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .heading h3 {
    text-align: center;
    width: 100%;
    font-weight: lighter;
  }
  .heading button {
    position: absolute;
    bottom: 5%;
    left: 35%;
    width: 30%;
    font-size: 14px;
  }
  .projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin-bottom: 10%;
    padding-bottom: 20%;
  }
  .projects div {
    width: 100%;
    height: 120px;
  }
  .projects div h3 {
    left: 0;
    width: 45%;
    font-size: 25px;
    padding-left: 5%;
  }
  .projects .img1::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(images/mobile/image-deep-earth.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .projects .img2::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(images/mobile/image-night-arcade.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .projects .img3::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(images/mobile/image-soccer-team.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .projects .img4::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(images/mobile/image-grid.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .projects .img5::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(images/mobile/image-from-above.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .projects .img6::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(images/mobile/image-pocket-borealis.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .projects .img7::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(images/mobile/image-curiosity.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .projects .img8::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(images/mobile/image-fisheye.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .social-media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social-media .logo::after {
    content: none;
  }
  .social-media ul {
    position: absolute;
    bottom: 20%;
    width: 30%;
  }
  .social-media .logo {
    background-position: center;
    padding-bottom: 7%;
  }
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 15%;
    margin-bottom: 5%;
  }
  .nav ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav p {
    position: absolute;
    bottom: 10%;
    left: 0;
    text-align: center;
    width: 100%;
  }
  footer {
    padding-top: 5%;
  }
  footer p {
    padding-top: 5%;
  }
}

@media only screen and (max-width: 320px) {
  nav {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav ul a {
    text-transform: uppercase;
    font-family: Josefin_Sans;
    font-size: 17px;
  }
  nav ul a::after {
    content: none;
  }
  .close-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(images/icon-close.svg) no-repeat;
    position: absolute;
    top: 4%;
    right: 5%;
    cursor: pointer;
  }
  .frame {
    width: 90%;
  }
  .hamburger {
    display: block;
    height: 16px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .hamburger a {
    display: block;
    width: 24px;
    height: 16px;
    background: url(images/icon-hamburger.svg);
    cursor: pointer;
  }
  .header {
    margin-top: 6%;
  }
  .header nav:target {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /*
.logo { background-position: left;}*/
  .poster {
    background: url(images/mobile/image-hero.jpg) no-repeat;
    height: 100vh;
    background-size: cover;
  }
  .poster .poster-text {
    width: 90%;
    margin: auto;
    padding: 4%;
    border-width: 2px;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .about .photo {
    width: 100%;
    background: url(images/mobile/image-interactive.jpg) no-repeat;
    background-size: 100%;
    margin-bottom: 0;
    height: 280px;
  }
  .about .about-text {
    width: 100%;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about-text h3 {
    width: 80%;
    text-align: center;
    font-weight: lighter;
  }
  .about .about-text p {
    width: 70%;
    font-size: 14px;
    text-align: center;
    line-height: 17px;
    color: dimgray;
  }
  .project-section {
    width: 100%;
    position: relative;
    padding-bottom: 10%;
  }
  .heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .heading h3 {
    text-align: center;
    width: 100%;
    font-weight: lighter;
  }
  .heading button {
    position: absolute;
    bottom: 5%;
    left: 35%;
    width: 30%;
    font-size: 14px;
  }
  .projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin-bottom: 10%;
    padding-bottom: 20%;
  }
  .projects div {
    width: 100%;
    height: 120px;
  }
  .projects div h3 {
    left: 0;
    width: 45%;
    font-size: 25px;
    padding-left: 5%;
  }
  .projects .img1::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(images/mobile/image-deep-earth.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .projects .img2::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(images/mobile/image-night-arcade.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .projects .img3::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(images/mobile/image-soccer-team.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .projects .img4::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(images/mobile/image-grid.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .projects .img5::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(images/mobile/image-from-above.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .projects .img6::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(images/mobile/image-pocket-borealis.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .projects .img7::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(images/mobile/image-curiosity.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .projects .img8::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(images/mobile/image-fisheye.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .social-media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social-media .logo::after {
    content: none;
  }
  .social-media ul {
    position: absolute;
    bottom: 20%;
    width: 30%;
  }
  .social-media .logo {
    background-position: center;
    padding-bottom: 7%;
  }
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 15%;
    margin-bottom: 5%;
  }
  .nav ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav p {
    position: absolute;
    bottom: 10%;
    left: 0;
    text-align: center;
    width: 100%;
  }
  footer {
    padding-top: 5%;
  }
  footer p {
    padding-top: 5%;
  }
  .poster .poster-text {
    font-size: 35px;
  }
  .projects div > h3 {
    font-size: 20px;
    padding-bottom: 5%;
  }
}
/*# sourceMappingURL=style.css.map */