@import "./reset";
@import "./mixin";


@font-face {
    font-family: Alata;
    src: url(fonts/Alata/Alata-Regular.ttf);
}
@font-face {
    font-family: Josefin_Sans;
    src: url(fonts/Josefin_Sans/static/JosefinSans-Light.ttf);
}

$body-font-size: 16px;
$primary-color1: hsl(0, 0%, 100%);
$primary-color2: hsl(0, 0%, 0%);
$primary-color3: hsl(0, 0%, 55%);
$primary-color4: hsl(0, 0%, 41%);
$nav-font: Alata;
$heading-font: Josefin_Sans;

html { height: 100%; }
body {
    min-height: 100%;
    position: relative;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    position: relative;
    header {
        width: 100%;
        position: absolute;
        top: 0;
    }
}

.frame {
    width: 80%;
    margin: auto;
}

.header {
    @include flex-position();
    margin-top: 4%;
}

.logo {
        width: 192px;
        height: 32px;
        background: url(images/logo.svg);
        @include img-position();
        z-index: 111;
}
.hamburger { display: none;}
.close-icon { display: none;}

nav {
    padding: 0 5%;
    & > ul {
        display: flex;
        justify-content: space-evenly;
    }
    a {
        color: $primary-color1;
        font-family: $nav-font;
        display: block;
        height: 40px;
        position: relative;
    }
    a::after {
        content: '';
        width: 20px;
        height: 2px;
        background-color: $primary-color1;
        position: absolute;
        bottom: 0;
        right: 30%;
        display: none;
    }
    a:hover {
        cursor: pointer; 
        &::after { display: block;} 
    }
    li { padding-right: 13%;}
}

section { width: 100%;}

/* Section poster */

.poster {
    width: 100%;
    height: 650px;
    background: url(images/desktop/image-hero.jpg);
    @include img-position();
    display: flex;
    align-items: center;
    .poster-text {
        color: $primary-color1;
        border: 3px solid $primary-color1;
        width: 46%;
        height: 43%;
        text-transform: uppercase;
        font: {
            family: $heading-font;
            size: 60px;
        }
        padding: 3% 3% 0 3%;
        margin: 6% 0 0 10%;
    }
}

/* Section about */

.about {
    @include flex-position();
    position: relative;
    .photo {
        margin: 15% 0;
        width: 60%;
        height: 500px;
        background: url(images/desktop/image-interactive.jpg);
        @include img-position();
    }
}

.about-text {
    width: 52%;
    margin-bottom: 15%;
    height: 35%;
    position: absolute;
    right: 0;
    bottom: -1%;
    background-color: $primary-color1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    h3 {
        @include heading-style();
        padding-bottom: 5%;
        width: 80%;
    }
    p {
        font: {
            family: $heading-font;
            size: $body-font-size;
            weight: 700;
        }
        color: $primary-color3;
        width: 80%;
        padding-bottom: 2%;
        line-height: 20px;
    }
}

/* Section projects */

.heading {
    @include flex-position();
    padding-bottom: 5%;
    & > h3 {
        @include heading-style();
    }
    & > button {
        text-transform: uppercase;
        font: {
            family: $nav-font;
            size: 18px;
        }
        letter-spacing: 5px;
        width: 15%;
        height: 40px;
        border: 1px solid $primary-color2;
        background-color: $primary-color1;
        cursor: pointer;
        &:hover {
            background-color: $primary-color2;
            color: $primary-color1;
        }
    }
}

.projects {
    @include flex-position();
    flex-wrap: wrap;
    padding-bottom: 20%;
    & > div {
        height: 450px;
        width: 256px;
        color: $primary-color1;
        margin-bottom: 3.5%;
        position: relative;
        &:hover {
            cursor: pointer;
            color: $primary-color2;
            &::before { opacity: 0.3;}
        }
        & > h3 {
            @include heading-style();
            letter-spacing: 0;
            font-weight: 300;
            width: 63%;
            position: absolute;
            bottom: 6%;
            left: 15%;
        }
    }
    .img1::before { @include project-poster(url(images/desktop/image-deep-earth.jpg));}
    .img2::before { @include project-poster(url(images/desktop/image-night-arcade.jpg));}
    .img3::before { @include project-poster(url(images/desktop/image-soccer-team.jpg));}
    .img4::before { @include project-poster(url(images/desktop/image-grid.jpg));}
    .img5::before { @include project-poster(url(images/desktop/image-from-above.jpg));}
    .img6::before { @include project-poster(url(images/desktop/image-pocket-borealis.jpg));}
    .img7::before { @include project-poster(url(images/desktop/image-curiosity.jpg));}
    .img8::before { @include project-poster(url(images/desktop/image-fisheye.jpg));}
}

footer {
    max-width: 1440px;
    position: relative;
    margin: auto;
    background-color: $primary-color2;
    p{
        color: $primary-color4;
        font-family: $nav-font;
        text-align: center;
        padding-bottom: 2%;
    }
}

.social-media {
    @include flex-position();
    padding: 2% 0;
    & > ul {
        @include flex-position();
        width: 13%;
        & > li {
            display: block;
            width: 24px;
            height: 35px;
            position: relative;
            &::after {
                content: '';
                width: 24px;
                height: 2px;
                position: absolute;
                bottom: 0;
                background-color: $primary-color1;
                display: none;
            }
            &:hover {
                cursor: pointer;
                &::after { display: block;}
            }
        }
    }
    .icon1 { background: url(images/icon-facebook.svg) no-repeat;}
    .icon2 { background: url(images/icon-twitter.svg) no-repeat;}
    .icon3 { background: url(images/icon-pinterest.svg) no-repeat;}
    .icon4 { background: url(images/icon-instagram.svg) no-repeat;}
}

.nav {
    @include flex-position();
    & > ul {
        @include flex-position();
        width: 30%;
    }
    a {
        color: $primary-color1;
        font-family: $nav-font;
        display: block;
        height: 40px;
        position: relative;
    }
    a::after {
        content: '';
        width: 20px;
        height: 2px;
        background-color: $primary-color1;
        position: absolute;
        bottom: 0;
        right: 30%;
        display: none;
    }
    a:hover {
        cursor: pointer; 
        &::after { display: block;} 
    }
    p {
        color: $primary-color4;
        font-family: $nav-font;
    }
}

@media only screen and (max-width: 1024px) {
    .projects { justify-content: space-evenly;}
    .nav {
        & > ul { width: 40%;}
    }
    .social-media > ul { width: 18%;}
}

@media only screen and (max-width: 768px) {
    @import "./media_tablet";
}

@media only screen and (max-width: 425px) {
    @import "./media_phone";
    
    
}

@media only screen and (max-width: 375px) {
    @import "./media_phone";
}

@media only screen and (max-width: 320px) {
    @import "./media_phone";
    
    .poster { 
        .poster-text { 
            font-size: 35px;
            padding-top: 15%;
        }
    }
    .projects {
        div > h3 { 
            font-size: 20px;
            padding-bottom: 5%;
        }
    }
}